.firstPage {
    background-color: white;
    width: 35vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25vh;
    border-radius: 10px;
}

.firstPage form input{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px solid black;
}

.g-signin2 {
    padding-bottom: 10px;
    text-align: center;
}



a:hover {
    color: black;
    border-bottom: 2px solid black;
}
a:active {
    color: black;
}
a {
    text-decoration: none;
    display: inline-block;
}

#welcome {
    position: relative;
    top: 5vh;
    left: 5vw;
}
